body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background: #f5f5f5;
}
header{
    height: 90px;
}
.flag-icon{
    width: 24px;
}
.table thead th{
    text-align: center;
    vertical-align: middle;
}
.table>tbody>tr>td{
    text-align: center;
    vertical-align: middle;
    max-width: 500px;
}
.table>tbody>tr>td.question_text{
    text-align: left;
}
button.addUserQuiz{
    float: right;
}

